@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
*,
*::before,
*::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-blue: hsl(215, 89%, 28%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:1.5rem;
    font-family: 'Manrope', sans-serif;
    font-weight:500;
    background-color:var(--grayish-blue);
    
}

img{
    display: block;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px ;
     background-color:white;
     animation: grow 0.6s forwards ;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img__container img{
    width: 100%;
    height: 100%;
    min-height: 300px;;
}
.img__container{
    overflow: hidden;
    border-radius: 10px  10px 0 0;

}
.content,
.img__container{
    flex: 1;
    max-width:400px;
}
.content{
    padding:2rem 2rem 0rem;

}
.content h1{
    font-weight: 700;
    font-size:1.34rem;
    padding-bottom: 1.4rem;
    color:var(--dark-blue);
}
.content p{
    font-size: 0.85rem;
    line-height: 1.65;
    padding-bottom: 2rem;
    color:var( --grayish-blue);
}

.profile{
    display:flex;
    justify-content: space-between;
align-items:center ;
padding:1rem 0;
position:relative;
padding-bottom: 2rem;
}
.profile__info{
    display:flex;
    align-items:center;
    
}
.profile__info img{
    width: 42px;
    height:42px;
    border-radius:50%;
    margin-right:1rem;
    border:1px solid var(--dark-blue);
}
.profile__info h2{
    font-size: 0.9rem;
    font-weight: 700;
    color:var(--dark-blue);
}
.profile__info span{
    font-size: 0.8rem;
    color: var(--grayish-blue);
}
.btn{
    background-color:var(--light-grayish-blue);
    padding:1.3rem;
    width:23px;
    height:23px;
    border-radius: 50%;
    border:none;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:20;
   
}
footer{
    padding: 2rem;
    color:var(--dark-blue);
    font-size:1.3rem;
    text-align:center;
}
footer a{
    color:inherit;
    font-weight:700;
}
.share__options{
    
    background-color: var(--dark-grayish-blue);
    padding:2rem 1.3rem 1rem;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color:var(--grayish-blue);
    position:absolute;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
    border-radius:0 0 10px 10px;
    left:-32px;
    bottom:0;
    width:calc(100% + 65px);
    transform-origin: 360px 49%;
    animation: shrink 0.6s both;
   
}
.share__options.active{
    visibility: visible;    
    animation: grow 0.6s ;
    
}

.share__options ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    margin-bottom:1.2rem;
    position: relative;
  
}
.share__options ul li:first-child{
    font-size:1.2rem;
}
ul li:not(:last-child) {
    margin-right: 1rem;
}

a{
    text-decoration: none;
}
.share__options img{
    width:30px;
    height:30px;
    transition: 0.3s ease-in-out;
}

.share__options img:hover{
    filter: invert(46%) sepia(24%) saturate(1200%) hue-rotate(351deg) brightness(92%) contrast(85%);
    transform: translateY(-5px);
	
}

@media (max-width:28em) {
    .content{
        padding:1.5rem 1.5rem 0;
    }
    .share__options{
        left: -24px;
        width: calc(100% + 47.7px);
        transform-origin: 277px 42%;
    }
}


@media (min-width:50em) {
    main{
        flex-direction: row;
        align-items:initial ;
        max-width: 52rem;
    }
     .img__container {
        max-width:280px;
        border-radius: 10px  0 0 10px;
    }
    .content{
    padding:2.5rem 3rem;
    max-width:500px;
    }
    .content p{
        padding-bottom: 1.3rem;
    }
   .profile{
    padding-top:1rem;
    padding-bottom: 0.5rem;
   }
    .share__options{
        padding:1rem 2rem;
        border-radius:10px;
        width:210px;
        top:-4rem;
        right:-6rem;
        bottom:auto;
        left:auto;
        overflow: visible;
        width:auto;
         animation:fromBottom 0.6s ease-in-out;
         -webkit-animation:fromBottom 0.6s ease-in-out;
    }
    .share__options.active .circle{
        display:hidden;
        
    }
    .share__options ul{
        margin-bottom:0;
    }
    .share__options.active::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: var(--dark-grayish-blue);

    
        right: 44%;
        
        bottom:-8px;
        transform:translateX(-50%) rotate(45deg);
       
    }

    .share__options.active{
  
        max-height: 320px;
        visibility: visible;
        animation:fromTop 0.6s ease-in-out;
        -webkit-animation:fromTop 0.6s ease-in-out;
    }
    
    .share__options img{
        width:20px;
        height:20px;
    }
   
}
@keyframes grow {
    from{
        opacity:0;
        transform:scale(0);
    }
    to{opacity:1;
        transform: scale(1);
    }
}

@keyframes shrink {
    from{
        width:100%;
        opacity:1;
        transform:scale(1);
    }
    to{  
        opacity:0;
        transform: scale(0);
    }
}
@keyframes fromTop{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
@keyframes fromBottom{
    from{
        opacity:1;
        transform: translateY(0);
    }
    to{
        opacity:0;
        transform: translateY(20px);
    }
}